* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #fff;
}


body {
    background-color: var(--2);
}

:root {
    --1: #fff;
    --2: #1f2b3e;
    --3: #acc2ef;
    --4: #374357;
    --5: #0F1C2E;
    --6: #ccc;
}

/*
 Table Of Contents

 1.Nav Styling(Universal)

 2.INDEX PAGE STYLING

   i.Welcome Styling
   ii.Booking Button Styling

 3.ABOUT PAGE STYLING

 4.CONTACT PAGE STYLING

 5.BOOKING PAGE STYLING
*/

/* Nav Styling */

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--2);
    width: 100%;
}

.home {
    color: var(--1);
    text-decoration: none;
    transition: all .4s ease;
    font-size: 27px;
    text-shadow: 4px 1px 0 var(--5);
}

.links {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

.nav-link {
    color: var(--1);
    text-decoration: none;
    font-size: 20px;
    transition: all 0.4s ease;
}

.nav-link:hover {
    color: var(--3);
    text-shadow: 2px 2px 0 var(--5);
}

/* INDEX PAGE STYLING */

/* Welcome Styling */

.wlcm {
    text-align: center;
    margin-top: 150px;
}

.intro {
    font-size: 40px;
}

.intro span {
    color: var(--1);
    text-shadow: 4px 1px 0 var(--5);
}

/* Booking Button Styling */

.book {
    background-color: transparent;
    color: var(--1);
    text-shadow: 1.5px 1.5px 0 var(--5);
    border: 2px solid var(--1);
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: larger;
    width: 430px;
    transition: all 0.4s ease;
    cursor: pointer;
    text-decoration: none;
}

.book:hover {
    background-color: var(--1);
    color: var(--5);
    text-shadow: 1.5px 1.5px 0 var(--3);
}

.book:active {
    transform: scale(0.98);
}
/* ABOUT PAGE STYLING */

.about-container {
    max-width: 1000px;
    box-shadow: 7px 7px 0 var(--5);
    margin: 40px auto;
    padding: 30px;
    background-color: var(--4);
    border-radius: 50px 0px;
}

.main-heading,
.section-heading {
    text-shadow: 4px 1px 0 var(--5);
    color: var(--1);
}

.main-heading {
    text-align: center;
    margin-bottom: 20px;
}

.section-heading {
    padding-bottom: 5px;
    margin-top: 30px;
}

.sub-heading {
    margin-top: 20px;
}

.text-paragraph {
    margin-bottom: 15px;
}

/* CONTACT PAGE STYLING */

.contact-container {
    box-shadow: 5px 5px 0 var(--5);
    border-radius: 45px 0;
    background-color: var(--4);
    width: 500px;
    padding: 20px;
    margin: 50px auto;
    color: var(--1);
}

.contact-container h1 {
    text-align: center;
    text-shadow: 3px 3px 0 var(--5);
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.name-fields {
    display: flex;
    gap: 4px;
}

.name-fields input {
    flex: 1;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    border: 2px solid var(--1);
    border-radius: 3px;
    outline: none;
    background-color: transparent;
    color: var(--1);
}

input::placeholder,
textarea::placeholder {
    color: var(--6);
    text-align: justify;
}

button {
    background-color: transparent;
    color: var(--1);
    font-size: larger;
    border: 2px solid var(--1);
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.4s ease;
    text-shadow: 1.5px 1.5px 0 var(--5);
}

button:hover {
    background-color: var(--1);
    text-shadow: 1.5px 1.5px 0 var(--3);
    font-size: larger;
    color: var(--5);
}

button:active {
    transform: scale(0.98);
}

/* BOOKING PAGE STYLING */

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: transparent;
    box-shadow: 7px 7px 0 var(--5);
    border-radius: 40px 0;
    background-color: var(--4);
}

h1 {
    text-align: center;
    color: var(--1);
    text-shadow: 3px 3px 0 var(--5);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: var(--1);
}

input, select, textarea, button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    background-color: transparent;
    outline: none;
    color: var(--1);
}

textarea {
    resize: vertical;
}

option {
    background-color: var(--4);
    border: none;
}

input[type="date"] {
    color-scheme: dark;
}

button {
    background-color: transparent;
    color: var(--1);
    border: 2px solid var(--1);
    cursor: pointer;
    transition: all 0.3s ease;
    text-shadow: 1.5px 1.5px 0 var(--5);
    font-size: larger;
}

button:hover {
    background-color: var(--1);
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: larger;
}